<div *ngIf="orderDetails; else noData" class="order-entry-container">
  <div class="order-entry-header">
    <div class="back-btn" (click)="goBack()">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </div>
    <div class="exp-header-img">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT49mXHakon8p1nLshZmycfASPQFVOqC5OFWA&s" alt="">
    </div>
    <div class="debt-name-date">
      <span class="debt-name">
        {{orderDetails?.name}}
      </span>
      <span class="debt-date">
        <mat-icon>calendar_today</mat-icon>

        <span>{{orderDetails?.opendatetime | date:'d MMM'}}</span>
        <span>{{orderDetails?.opendatetime | date:"d MMM, y"}}</span>
      </span>
    </div>
    <div class="header-right"></div>
  </div>

  <!--  -->
  <form #bidForm="ngForm">
    <div class="my-4 row">
      <ng-container *ngFor="let series of debtSeriesList;let i = index">
        <div class="col-12 col-md-4">
          <div class="form-grouo mx-4 my-2">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="debtSeries" [id]="'debtSeries'+i"
                [value]="series.value">
              <label class="form-check-label cursor-pointer" [for]="'debtSeries'+i">
                {{series.value}}
              </label>
            </div>
          </div>
        </div>
      </ng-container>

    </div>
    <div class="row">
      <div class="col-12 col-sm-4 col-md-4">
        <div class="form-group mx-4">
          <label for="quantity">Quantity</label>
          <div class="input-group">
            <button class="input-group-text bg-light rounded-0 w-25 d-flex align-items-center justify-content-center"
              (click)="decreaseQuantity()">-</button>
            <input type="text" class="form-control w-50 text-center" id="quantity" name="quantity"
              [(ngModel)]="quantity">
            <button class="input-group-text bg-light rounded-0 w-25 d-flex align-items-center justify-content-center"
              (click)="increaseQuantity()">+</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-4 col-md-4">
        <div class="form-group mx-4">
          <label for="price">Price</label>
          <div class="input-group">
            <div class="form-control text-gray">
              {{price}}
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-4 col-md-4">
        <div class="form-group mx-4">
          <label for="orderType">Total Amount</label>
          <div class="input-group">
            <div class="form-control text-gray">
              {{totalAmount}}
            </div>
          </div>
        </div>
      </div>

      <!--  -->
      <div class="col-12 col-sm-4">
        <div class="form-group mx-4">
          <label class="form-label" for="">UPI ID <span class="font-12"> (Eg.
              abcd@okhdfcbank)
            </span>
          </label>
          <div class="input-group">
            <input type="text" class="form-control w-70" [(ngModel)]="upiId" name="upiId">
            <select class="form-select text-upi w-30" [(ngModel)]="upiIdName" name="upiIdName" id="upiIdName">
              <ng-container *ngFor="let upi of upiIdNameList;">
                <option [value]="upi">{{upi}}</option>
              </ng-container>
            </select>
          </div>
        </div>
      </div>

      <!--  -->

      <!-- error msg -->
      <div class="col-12">
        <div class="mx-4 d-flex align-items-center text-danger">
          <mat-icon>error</mat-icon>
          <span class="ml-2">Order value should be minimum 2 Lacs</span>
        </div>
      </div>

    </div>

    <div class="my-4 text-center">
      <button class="apply-btn" (click)="applyOrder()">
        {{orderId ? 'Modify' : 'Apply'}}
      </button>
    </div>
  </form>

</div>

<ng-template #noData>
  <div class="text-center my-3">
    <p>No data available</p>
  </div>
</ng-template>