<div class="dialog-confirm">
  <div mat-dialog-content class="dialog-msg">
    <div class="dialog-img" *ngIf="data.image">
      <img class="img-fluid" height="85px" width="65px" loading="lazy" [src]="data.image" alt="">
    </div>

    {{data.message}}
  </div>
  <div mat-dialog-actions class="mt-5 d-flex justify-content-center">
    <ng-container [ngSwitch]="data.type">
      <ng-container *ngSwitchCase="'action'">
        <button class="btn-red" (click)="closeDialog(true)">Yes</button>
        <button class="btn-blue" (click)="closeDialog(false)">No</button>
      </ng-container>
      <ng-container *ngSwitchCase="'info'">
        <button class="btn-blue" (click)="closeDialog(true)">Done</button>
      </ng-container>
    </ng-container>
  </div>
</div>