.dialog-confirm {
    padding: 0.5rem;
    margin: 0.5rem 0;
}

.dialog-msg {
    font-weight: 500;
    font-size: 1rem;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.btn-red,
.btn-blue {
    width: 100px;
    padding: 0.45rem 0.25rem;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid;
    cursor: pointer;
    margin: 0 0.35rem;

}

.btn-red {
    color: red;
    border-color: Red;
}

.btn-blue {
    background-color: #0073E6;
    color: #ffffff;
    border-color: #0073E6;
}