<nav class="navbar">
    <ul class="nav-list">
        <li class="nav-item">
            <a class="nav-link" routerLink="/ipo" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: false}">IPO</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/ofs" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: false}">OFS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/debt" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: false}">Debt</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/research" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: false}">Research</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/thematic-basket" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: false}">Thematic Basket</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/mutual-fund" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: false}">Mutual Fund</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>