.orderbook-details {
    /* border: 1px solid #D9D7D7; */
    height: 100%;
    overflow: hidden;
}

/* expandable card start */
.expandable-card {
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    background-color: #fff;
    transition: all .7s ease;
    height: auto;
    margin: 1rem 0;
}

.expandable-card-header {
    background-color: #E6EAF2;
    /* color: #00317A; */
    padding: 0 .7rem;
    border-bottom: 1px solid #E6EAF2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    height: 52px;
}

.exp-header-img {
    width: 35px;
    height: 35px;
    overflow: hidden;

}

.exp-header-img img {
    width: 95%;
    height: 95%;
    object-fit: cover;
    border-radius: 50%;
}

.ofs-name-date {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex: 1 1 auto;
    flex-wrap: wrap;
}

.ofs-name {
    font-size: 1rem;
    font-weight: 500;
    font-size: medium;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.expandable-card-body {
    padding: 1rem;
    transition: all .7s ease;

}

.ofs-info-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem;
    border-radius: 4px;
    justify-content: stretch;
}

.ofs-info-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 160px;
    background-color: #fff;
}

.ofs-info-label {
    font-size: 0.75rem;
    font-weight: 400;
    color: #A4A7AE;
    text-align: center;
}

.ofs-info-value {
    font-size: 0.875rem;
    font-weight: 400;
    color: #181D27;
    text-align: center;
}

.btn-modify,
.btn-cancel {
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    font-size: 0.75rem;
    font-weight: 400;
    border: 1px solid;
    cursor: pointer;
    margin: 0 0.35rem;
}

.btn-modify {
    background-color: #D1FADF;
    color: #03703C;
    border-color: #03703C;
}

.btn-cancel {
    background-color: #FFD9D9;
    color: #D92D20;
    border-color: #D92D20;
}


/* card end */